body {
  font-family: "Playfair Display";
  margin: 0;
  background-color: rgb(2, 2, 2);
}
.other-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}
.logo2 img {
  height: 60px;}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  text-align: center;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
.navbar a:hover {
  color: #c8a66a;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}.image-sec{
  position: relative;
}
.main-image{
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 50% / 30%;
  position: relative;
}
.main-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle{
  position: absolute;
  bottom: -20px;
  left: -40px;
  width: 100%;
  height: 100px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.circle img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.text-sec{
  max-width: 600px;
}
h1{
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  color: #c8a66a;
}
.text-sec p{
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ccc;
  margin-left: 50px;
}
.footer{
  background-color: #3d3b3b;
  padding: 60px 40px 30px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 40px;
}
.footer-left h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 20px;
}
.nav-foot{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.nav-foot a{
  color: #bcb6b6;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}
.nav-foot:hover{
  color: #c8a66a;
}
.footer-right{
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
}
.footer-right small{
  color: #999;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-right p{
  margin: 4px 0 0;
  font-size: 1rem;
  color: #eee;
}
